<section class="container mx-auto h-max my-24 bg-gray-100 dark:bg-gray-900 p-8">
    <div class="flex flex-col w-full border-opacity-50">
        <div class="grid h-20 card bg-base-300 rounded-box place-items-center"><h1>Good news?</h1></div>
        <div class="divider">OR</div>
        <div class="grid h-20 card bg-base-300 rounded-box place-items-center"><h3>Bad news?</h3></div>
    </div>
    <div class="mockup-code my-8">
        <pre data-prefix="$"><code>say hello to my little code</code></pre>
        <pre data-prefix=">" class="text-warning"><code>saying...</code></pre>
        <pre data-prefix=">" class="text-success"><code>Hello!</code></pre>
    </div>
</section>
